<div class="container">
    <div class="row">
        <div class="col-2">Автор</div><div class="col-10"><input type="text" id="create-author"></div>
        <div class="col-2">Название</div><div class="col-10"><input type="text" id="create-title"></div>
        <div class="col-2">Описание</div><div class="col-10"><input type="text" id="create-annotation"></div>
    </div>
    <div class="row">
        <div class="col-12">
            <input type="button" id="sbm-btn" value="Создать" />
        </div>
    </div>
</div>